html {
  height: 100%;
  width: 100%;
  background-color: #d5c990;
}
h1{
  background-color: #dfb030;
  text-align: center;
  padding: 30px;
  border: 4px solid white;
  color: white;
  font-weight: bold;
  font-size: 50px;
  width: fit-content;
  margin-left: 20px;
}

#subtotal {
  background-color: #dfb030;
  padding: 10px;
  width: 100px  ;
  border: 4px solid white;
  color: white;
  margin-left: 20px;
}

#total {
  display: inline-block;
  background-color: #dfb030;
  padding: 10px;
  width: 100px  ;
  border: 4px solid white;
  margin-top: 5px;
  color: white;
  margin-left: 20px;
}

#result {
  position: relative;
  font-weight:bold;
  font-size: 20px;
  color: white;
  background-color: #dfb030;
  padding: 10px;
  border: 4px solid white;
  width: fit-content;
  margin-left: 150px;
}

#button {
  margin-left: 20px;
  font-weight: bold;
  color: white;
}

input {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

label {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

p {
  margin-top: 5px;
  color: white;
  margin-left: 20px;
  width: fit-content;
  font-weight: bold;
}
